.NavBarCompleto h1{
    display: flex;
    justify-content: center;
    font-family: Arial;
}

.NavBar{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    background-color: rgb(34, 6, 6);
    height: 50px;
    position: sticky;
    top: 0;
    
}
.NavBar ul{
    display: flex;
    justify-content: center;
    
}
.NavBar ul li{
    padding-top: 0;
    padding-right: 300px;
    display: inline-block;
    border-color: white;

}

.NavBar ul li a{
    
    color: white;
    text-decoration: none;
    font-family: Arial;
    
}
.NavBar ul li a:hover{
    color: teal;
}
.icono{
    width: 50px;
    height: 30px;
}
.organizado{
    display: flex;
    position: sticky;
    top: 0;

}
